<div>
  <div class="nav-wrapper">
    <div class="dropdown-wrapper">
      <select id="search-options">
        {{#each options}}
        <option>
          {{this}}
        </option>
        {{/each}}
      </select>
    </div>
    <div class="search-wrapper">
      <label for="searchField"><i class="material-icons black-text">search</i></label>
      <input id="searchField" type="text" placeholder="Search" class="search-input white black-text"/>
    </div>
  </div>
  <div id="search_results"></div>
</div>
